<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
    pageTitle: 'Detalle',
    cssTag: '<link href="/css/algo.css">'
    }) %>

<body>    
    <h1> Detalle del Producto: <%= product.productName %>  </h1>
    <p> <%= product.productPrice %> </p>
    <img src="/uploads/<%= product.productImage %>" alt="">
</body>
</html>